



<div class="container">
    
    <form class="baptism-form" [formGroup]="smsdetails" (ngSubmit)="sendSMS()" >
        <h2>Compose SMS</h2>

        <mat-form-field class="field" appearance="outline">
          <mat-label>Audience</mat-label>
          <mat-select (selectionChange)="audienceChanged($event)">
            <mat-option value="all">All Members</mat-option>
            <mat-option value="local">Local Council </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="field" appearance="outline">
          <mat-label>Date</mat-label>
          <input  matInput type="date" formControlName="smsdate"  placeholder="">
          <mat-error *ngIf="(smsdate.dirty || smsdate.touched) &&  smsdate.errors " class="error">
            Field Invalid
          </mat-error>
      </mat-form-field>

        <mat-form-field class="field" appearance="outline">
          <mat-label>Message</mat-label>
          <textarea  matInput type="text" formControlName="message"  placeholder="Type here.."></textarea>
          <mat-error *ngIf="(message.dirty || message.touched) &&  message.errors " class="error">
            Field Invalid
          </mat-error>
        </mat-form-field>

        <mat-form-field class="field" appearance="outline">
          <mat-label>Author</mat-label>
          <input  matInput type="text" formControlName="sender"  placeholder="Fr. James ">
          <mat-error *ngIf="(sender.dirty || sender.touched) &&  sender.errors " class="error">
            Field Invalid
          </mat-error>
        </mat-form-field>

        <br>
        <span class="loader" *ngIf="showLoading"></span>
        <br>
        {{loadingMessage}}
        <br>
        
        <button mat-raised-button  type="submit" class="submitBtn" [disabled]="!smsdetails.valid">Send Message</button>
        
    </form>
</div>


