


<div class="container">

    <div class="card">

        <h2>Forgot Password</h2>
        <form [formGroup]="emailForm" (ngSubmit)="resetPasswordEmail()">
        <span class="loader" *ngIf="showLoading"></span>
        {{loadingMessage}}
         <input type="email" placeholder="Email" label="email" formControlName="email">
         <mat-hint *ngIf="(email.dirty || email.touched) &&  email.errors ">Email Invalid</mat-hint>
            <div class="buttons">
                <button mat-button type="submit" class="login-button" [disabled]="!emailForm.valid">Send</button>    
            </div>
            <i routerLink="/login" class="link" >Back?</i>
        </form>
    </div>
</div>
